<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Document</title>
    <%- include("./partials/head") %>
  </head>
  <body>
    <%- include("./partials/nav")  %>
    Home
    <%- include("./partials/script")  %>
  </body>
</html>
